<a href="https://colab.research.google.com/github/maneeshdisodia/DearML/blob/master/ML_Calculations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
v1 = [15,  12,  8,   8,   7,   7,   7,   6,   5,   3]
v2 = [10,  25,  17,  11,  13,  17,  20,  13,  9,   15]

In [0]:
import pandas as pd
import math

In [0]:
df =pd.DataFrame(data =[v1,v2]).T

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
0    10 non-null int64
1    10 non-null int64
dtypes: int64(2)
memory usage: 288.0 bytes

In [7]:
df.describe()

               0          1
count  10.000000  10.000000
mean    7.800000  15.000000
std     3.425395   4.921608
min     3.000000   9.000000
25%     6.250000  11.500000
50%     7.000000  14.000000
75%     8.000000  17.000000
max    15.000000  25.000000

In [8]:
df.corr()

          0         1
0  1.000000  0.144998
1  0.144998  1.000000

In [0]:
def mean(x):
  if len(x)>1: return sum(x)/len(x)
  else: raise "error"

In [26]:
mean(v1)

7.8

In [0]:
def varience(x):
  mu = mean(x)
  return sum([(y-mu)**2 for y in x])/len(x)

In [30]:
varience(v1)

10.560000000000002

In [0]:
from math import sqrt

In [0]:
def standard_deviation(x):
  sigma =varience(x)
  sigma_squared =sqrt(sigma)
  return sigma_squared

In [34]:
standard_deviation(v1)

3.2496153618543846

In [0]:
def cov(x,y):
  mu_x=mean(x)
  mu_y=mean(y)
  Ex = [v-mu_x for v in x]
  Ey = [v-mu_y for v in y]
  nom =sum([a*b for a,b in zip(Ex,Ey)])
  denom = len(x)
  return nom/denom

In [39]:
cov(v1,v2)

2.1999999999999997

In [0]:
def pearson_coff(x,y):
  """Pearson correlation coefficient"""
  sd_x = standard_deviation(x)
  sd_y = standard_deviation(y)
  covarience = cov(x,y)
  return covarience /(sd_x * sd_y)

In [0]:
pcc =pearson_coff(v1,v2)

In [62]:
round(pcc,3)

0.145